.container-fluid.np
    .col-xs-12.col-sm-6.np
        .panel.panel-primary
            .panel-heading 
                %b
                    Practicum 4
                Mirror, mirror
            .panel-body
                %ul.list-group
                    %li.list-group-item 
                        = link_to magic_sensing_path do
                            %b #1
                            Orientation and Motion APIs
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to magic_gestures_path do
                            %b #2
                            Gesture Recognizer
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to magic_light_path do
                            %b #3
                            Light Detector
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to magic_mirror_portal_path do
                            %b #4
                            Portal - Mirror
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to magic_wand_portal_path do
                            %b #4
                            Portal - Wand
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to board_mirror_path do
                            %b #5
                            Magic Mirror UI
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to tab_wand_path do
                            %b #6
                            Magic Wand UI
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                   
            .panel-footer
                CS160 - Intro to UI Design and Development
   